<h1>Pay App</h1>
<div>
  <p>{{payment.receiptNumber}}</p>
  <p>{{payment.cardNumber}}</p>
  <p>{{payment.cardHolder}}</p>
  <p>{{payment.validity}}</p>
  <p>{{payment.cvv}}</p>
  <p>{{payment.amount}}</p>
</div>
  
<div>
  <button (click)="onClickedAuthorization()"> Authorization</button>
  <button (click)="onClickedPay()" [disabled]="!isAuthorized">Pay</button>
  <button (click)="onClickedReject()" [disabled]="!isAuthorized">Reject</button>
</div>

<div *ngIf="payService.error$ | async as error">
  {{ error }}
</div>
